[Unit]
Description=HiveDrive
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=cc
ExecStart=/bin/bash /usr/share/hivedrive/runHiveDrive.sh

[Install]
WantedBy=multi-user.target
